* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #666;
  color: white;
}
header,
main {
  width: 85%;
  margin: 15px auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.row:hover {
  background-color: #ccc;
  color: black;
}

.row > * {
  flex: 1;
}

.row > img {
  width: auto;
  flex: 0 0 100px;
}
